# This is the configuration file template. Remove .example from file name to use as properties file.
# All un-commented lines are required

# Port that the website will be hosted off of
port = 

# URL for the database connection
database.url = 
# Database name
database.name = 

# Database username
sql.username = 
# Database password
sql.password = 

# Code to lock the website behind
school.code = 

# SSL configuration. Uncomment these in order to use them. The user for keystore must be 'tomcat'
# Filepath to the keystore file, must be absolute
#keystore.location = 
# Password for the keystore user tomcat
#keystore.password = 

# Base URL of the application, this is so we can generate QR codes
# Examples: https://zgamelogic.com:9636, http://192.168.1.52:8080
qrcode.base = 