<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<link href="webjars/bootstrap/5.1.0/css/bootstrap.min.css"
	rel="stylesheet">
<link href="webjars/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">
<script type="text/javascript"
	src="webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>

<link th:href="@{/styles/social.css}" type="text/css" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/styles/gradiant.css}">
<link rel="icon" type="image/png" th:href="@{assets/images/favicon.png}">
<link th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}"
	th:rel="stylesheet">
<link rel="stylesheet" th:href="@{/styles/gradiant.css}">

<script type="text/javascript"
	src="webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>

<title>Ben Shabowski</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
		role="navigation">
		<a class="navbar-brand" href="/home">Ben Shabowski</a>
		<div id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item" th:each="header: ${headers}"><a class="nav-link" th:href="${'/' + #strings.toLowerCase(header)}" th:text="${header}"></a></li>
			</ul>
		</div>
	</nav>
</body>
</html>