<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<link href="webjars/bootstrap/5.1.0/css/bootstrap.min.css"
	rel="stylesheet">
	<link href="webjars/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">
	<link th:href="@{/styles/social.css}" type="text/css" rel="stylesheet" />
<script type="text/javascript"
	src="webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" th:href="@{/styles/carousel.css}">

<link rel="stylesheet" th:href="@{/styles/gradiant.css}">
<link rel="icon" type="image/png" th:href="@{assets/images/favicon.png}">

<style>
span.small {
  font-size: smaller;
}
</style>

<title>Ben Shabowski</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
		role="navigation">
		<a class="navbar-brand" href="/index">Ben Shabowski</a>
		<div id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/index">Home
				</a></li>
				<li class="nav-item"><a class="nav-link" href="/shaboonan">Shaboonan
						Section</a></li>
				<li class="nav-item"><a class="nav-link" href="/projects">Projects<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item"><a class="nav-link" href="">About me</a></li>
				<li class="nav-item"><a class="nav-link" href="">Resume</a></li>
			</ul>
		</div>
	</nav>
	
	<h1 class="text-center">Here is a dynamically updated list of things I have worked on</h1>

	<div class="container-sm">
		<div id="carouselExampleIndicators" class="carousel slide"
			data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button th:each="project, iStat: ${projects}" type="button"
					data-bs-target="#carouselExampleIndicators"
					th:data-bs-slide-to="${iStat.index}"
					th:class="${iStat.index==0}? 'active' : ''"
					th:aria-current="${iStat.index==0}? 'true' : ''"
					th:aria-label="'Slide ' + ${iStat.index}"></button>
			</div>
			<div class="carousel-inner text-center">
				<div th:each="project, iStat: ${projects}"
					th:class="${iStat.index==0}? 'carousel-item active' : 'carousel-item'">
					<div class="d-inline-block w-75 text-left"
						style="background-color: #eee;">
						<h1 th:text="${project.name}"></h1>
						<h3 th:text="${project.description}"></h3>
						<p
							data-th-utext="${#strings.replace(#strings.escapeXml(project.websiteInfo),'&#10;','&lt;br&gt;')}"
							style="text-align: left; padding: 20px"></p>
							
						<div th:if="${project?.url ne ''}"
							class="social-network social-circle" style="margin-bottom:15px;">
							<li style="list-style-type: none;"><a th:href="${project?.url}" class="icobitbucket"
								title="Repository link"><i class="fa fa-bitbucket"></i></a></li>
						</div>
						
						<hr th:if="${project?.commits ne null}">
						
						<h3 th:if="${project?.commits ne null}">Recent commits</h3>
						
						<table th:if="${project?.commits ne null}" class="table table-sm table-dark table-striped">
							<thead>
								<tr>
									<th scope="col">Commit ID</th>
									<th scope="col">Commit user</th>
									<th scope="col">Commit message</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="commit, iStat: ${project.commits?.values}" th:if="${iStat.count < 11 and commit.author.displayName ne null}">
									<td><a th:text="${commit.displayId}" class="nav-link small" th:href="${#strings.replace(project.url,'/browse', '') + '/commits/' + commit.id}"></a></td>
									<td th:text="${commit.author.displayName}"></td>
									<td th:text="${commit.message}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button"
				data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button"
				data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>
</body>
</html>

