<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<link href="webjars/bootstrap/5.1.0/css/bootstrap.min.css"
	rel="stylesheet">

<link th:href="@{/styles/social.css}" type="text/css" rel="stylesheet" />
<link rel="icon" type="image/png" th:href="@{assets/images/favicon.png}">
<link rel="stylesheet" th:href="@{/styles/gradiant.css}">

<title>Ben Shabowski</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
		role="navigation">
		<a class="navbar-brand" href="/index">Ben Shabowski</a>
		<div id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/index">Home
				</a></li>
				<li class="nav-item"><a class="nav-link" href="/shaboonan">Shaboonan
						Section<span class="sr-only">(current)</span></a></li>
				<li class="nav-item"><a class="nav-link" href="/projects">Projects</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="">About me</a></li>
				<li class="nav-item"><a class="nav-link" href="">Resume</a></li>
			</ul>
		</div>
	</nav>
	<div>
		<!-- <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23616161&amp;ctz=America%2FChicago&amp;src=OGM0ZHU1dnIyNGFpbjJiM3A1Ym9wY2tmOGtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=NGQ5aDc5ZGFicmE5MmU5NWRoMnUzZnNqN29AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23F4511E&amp;color=%23795548&amp;showTitle=1&amp;mode=MONTH" style="border:solid 1px #777" width="800" height="600"></iframe> -->
	</div>
</body>
</html>
